openai>=0.27.8
diffusers>=0.17.1
transformers>=4.30.2
accelerate>=0.20.3
scipy>=1.10.1
safetensors>=0.3.1
xformers>=0.0.20
python-dotenv>=1.0.0
pinecone-client>=2.2.1
sentence-transformers>=2.2.2
torch>=2.0.1
sendgrid>=6.10.0